<ion-view view-title="" name="login-view">
<ion-nav-bar class="theme-color login"></ion-nav-bar>
  <ion-content class="padding theme-color login">
	<div class="text-center">
		<img src="img/logo.png" width="150px" height="150px"/>
		<h1> FitSpiration</h1>
		<br><br><br>
	</div>
	<div class="list list-inset">
		<label class="item item-input">
			<input type="text" placeholder="Team Name" ng-model="data.username">
		</label>
		<label class="item item-input">
			<input type="password" placeholder="Password" ng-model="data.password">
		</label>
	</div>
    <button class="button button-block button-gray" ng-click="login()">LOG IN</button>
	<br><br>
	<div class="text-center link">
		<h4><a href="" ng-click="register()">Don't have a team? Sign up here!</a></h4>
	</div>
  </ion-content>
</ion-view>