<ion-view view-title="Newsfeed" name="newsfeed-view">
 
<ion-nav-bar class="nav-bar">
	<ion-nav-buttons side="right">
		<a class="button button-icon button-clear hide-show "ng-click="addItem()">
			<i class="ion-plus button-clear"></i>
		</a>
    </ion-nav-buttons>
</ion-nav-bar>

<ion-content>
	<ion-refresher on-refresh="refresh()"></ion-refresher>
	<ion-list>
		<div class="list card" ng-repeat="item in items">
		
		<!-- for later when there are no items-->
		<!-- <div ng-if="!items.length">
			<br>
			<h2>Look like there's nothing here</h2>
			<p>Upload your own content!</p>
			<br>
		</div>-->
			<ion-item class="item">
				<div class="text-center"><img src="{{item.user.picture.thumbnail}}" /></div>
					<h2>{{item.user.name.first}} {{item.user.name.last}}</h2>
					<p>FROM: {{item.user.location.city}}, {{item.user.location.state}}</p>
					<p>SHH ITS A SECRET: {{item.user.password}}</p>
			</ion-item>
		</div>
	</ion-list>
	<ion-infinite-scroll on-infinite="loadMore()" distance="5%"></ion-infinite-scroll>
</ion-content>	

<!-- adds a floating button as per material design for android -->
<div class="float-button" ng-if="isAndroid != false">
	<span class="height-fix">
		<a class="content" href="" ng-click="addItem()">
			<i class="ion-ios-plus-empty"></i>
		</a>
	</span>
</div>

</ion-view>