<ion-view view-title="Team {{team.name}}" name="team-view" cache-view="false">
<ion-nav-bar class="nav-bar"></ion-nav-bar>
  <ion-content>
    <ion-list>
	<div class="list card ts">
      <ion-item class="text-center image-team" id="ts">
		<h1>Your Score</h1>
		<h2>{{team.score}}</h2>
      </ion-item>
    </div>
	<div class="list card">
		<h2 class="text-center sub-title">TEAM HISTORY</h2>

		<ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="item in team.teamhistory">
			<img src="{{item.imageurl}}" />
			<h2>{{item.title}}</h2>
			<p>{{item.response}}</p>
		</ion-item>
	</div>
    </ion-list>
  </ion-content>
</ion-view>