<ion-view view-title="Newsfeed" name="newsfeed-view">
 
<ion-nav-bar class="theme-color"></ion-nav-bar>

<ion-nav-view>
	<!-- specific styling for the ios app, plus a button to upload items -->
	<div class="bar bar-header" ng-if="isAndroid == false">
		<div ng-if="isAndroid == false">
		<div class="h1 title title-color"></div>
			<button class="button button-clear button-positive" side="secondary" ng-click="addItem()">
				<i class="ion-plus button-clear"></i>
			</button>
		</div>    
	</div>
</ion-nav-view>
	
<ion-content>
	<ion-refresher on-refresh="refresh()"></ion-refresher>
	<ion-list>
		<div class="list card" ng-repeat="item in items">
		
		<!-- for later when there are no items-->
		<!-- <div ng-if="!items.length">
			<br>
			<h2>Look like there's nothing here</h2>
			<p>Upload your own content!</p>
			<br>
		</div>-->
		
		
			<ion-item class="item item-avatar" >
				<img src="{{item.user.picture.thumbnail}} " />
				<h2>{{item.user.name.first}} {{item.user.name.last}}</h2>
				<p>{{item.user.location.city}} {{item.user.password}}</p>
			</ion-item>
		</div>
	</ion-list>
	<ion-infinite-scroll on-infinite="loadMore()" distance="5%"></ion-infinite-scroll>
</ion-content>	

<!-- adds a floating button as per material design for android -->
<div class="float-button" ng-if="isAndroid != false">
	<span class="height-fix">
		<a class="content" href="" ng-click="addItem()">
			<i class="ion-ios-plus-empty"></i>
		</a>
	</span>
</div>

</ion-view>