<ion-view view-title="Challenge" name="challenge-view">
<ion-nav-bar class="nav-bar">
	<ion-nav-buttons side="right">
		<a class="button button-icon button-clear hide-show "ng-click="addItem()">
			<i class="ion-plus button-clear"></i>
		</a>
    </ion-nav-buttons>
</ion-nav-bar>

<ion-content>
	<ion-list>
		<div class="item card" ng-if="!items.length">
			<br>
			<h2>Your Daily Challenge</h2>
			<br>
		</div>
	</ion-list>
</ion-content>
<!-- adds a floating button as per material design for android -->
<div class="float-button" ng-if="isAndroid != false">
	<span class="height-fix">
		<a class="content" href="" ng-click="addItem()">
			<i class="ion-ios-plus-empty"></i>
		</a>
	</span>
</div>
</ion-view>