<ion-view view-title="Scoreboard" name="scoreboard-view">
 
<ion-nav-bar class="theme-color"></ion-nav-bar>

<ion-nav-view>
	<!-- specific styling for the ios app, plus a button to upload items -->
	<div class="bar bar-header" ng-if="isAndroid == false">
		<div ng-if="isAndroid == false">
		<div class="h1 title title-color"></div>
			<button class="button button-clear button-positive" side="secondary" ng-click="addItem()">
				<i class="ion-plus button-clear"></i>
			</button>
		</div>    
	</div>
</ion-nav-view>
  <ion-content>
	<div class="list card ts">
      <ion-item class="text-center image-scoreboard">
		<h1>{{highest.name}}</h1>
		<h2>{{highest.score}}</h2>
      </ion-item>
    </div>
    <ion-list>
	<div class="list card">
		<ion item class="text-center">
			<h2 class="sub-title item-divider">ALL SCORES</h2>
		</ion-item>
		<!--for when set up-->
		<ion-item class="item-remove-animate" ng-repeat="team in scores" class="item-icon-left">
          <i class="icon ion-star icon-energize"></i>  {{team.score}} points | Team {{team.name}}
		</ion-item>
	</div>
    </ion-list>
  </ion-content>
</ion-view>