<ion-view view-title="Team {{team.name}}" name="team-view">
 
<ion-nav-bar class="theme-color"></ion-nav-bar>

<ion-nav-view>
	<!-- specific styling for the ios app, plus a button to upload items -->
	<div class="bar bar-header" ng-if="isAndroid == false"></div><!-- to keep consistentcy -->
</ion-nav-view>

  <ion-content>
    <ion-list>
	<div class="list card ts">
      <ion-item class="text-center image-team" id="ts">
		<h1>Score</h1>
      </ion-item>
    </div>
	<div class="list card">
		<h2 class="text-center sub-title">TEAM HISTORY</h2>
		<!--for when set up-->
		<ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="team in teams">
			<h2>{{team.score}}</h2><p>    {{team.name}}</p>
		</ion-item>
	</div>
    </ion-list>
  </ion-content>
</ion-view>