<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Newsfeed Tab -->
  <ion-tab title="Newsfeed" icon-off="ion-ios-paper-outline" icon-on="ion-ios-paper" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>
  
  <!-- Team Tab -->
  <ion-tab title="Team" icon-off="ion-ios-people-outline" icon-on="ion-ios-people" href="#/tab/team">
    <ion-nav-view name="tab-team"></ion-nav-view>
  </ion-tab>
  
   <!-- Challenge Tab -->
  <ion-tab title="Challenge" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/challenge">
    <ion-nav-view name="tab-challenge"></ion-nav-view>
  </ion-tab>
  <!-- Scoreboard Tab -->
  <ion-tab title="Scoreboard" icon-off="ion-ios-star-outline" icon-on="ion-ios-star" href="#/tab/scoreboard">
	<ion-nav-view name="tab-scoreboard"></ion-nav-view>
  </ion-tab>
</ion-tabs>
