<ion-view view-title="" name="upload-view">
<ion-nav-bar class="nav-bar">
	<ion-nav-buttons class="button-white" side="left">
		<a class="button button-icon button-clear" ng-click="back()">
			<i class="ion-chevron-left button-clear"></i>
		</a>
	</ion-nav-buttons>
	<ion-nav-buttons side="right">
		<a class="button button-icon button-clear hide-show" ng-click="addItem()">
			<i class="ion-plus button-clear"></i>
		</a>
    </ion-nav-buttons>
</ion-nav-bar>

 <ion-content>
	<ion-list>
		<div class="padding">
			<h2 class="title-color">Submit your Challenge:</h2>
		</div>
		<label class="item item-input">
			<br><textarea placeholder="Paste your youtube url here." rows="28" id="textarea" ng-model="data.youtube"></textarea>
		</label>
	</ion-list>
 </ion-content>

<!-- adds a floating button as per material design for android -->
<div class="float-button" ng-if="isAndroid != false">
	<span class="height-fix">
		<a class="content" href="" ng-click="addItem()">
			<i class="ion-ios-plus-empty"></i>
		</a>
	</span>
</div>

</ion-view>