/* Empty. Add your own CSS if you like */
/* theme color: #00bfa5 */

/*.dark-background{
	background-color: #00bfa5
}

.dark-background h1, h3{
	color: white;
}*/
/********************************************************************************/
/********* Deals with the spacing between icon menus on both platforms **********/
.platform-android #spacing-top-bar{
	margin-top: 6em;
}

.platform-ios #spacing-top-bar{
	margin-top: 2.5em;
}