<!-- <ion-view view-title="Team ">
  <ion-content>
  	<div id='team-score-img-div'> 
  		<img src="../img/ionic.png" />
  	</div>
  	<div id='team-history-div'>
    	<h3>TEAM HISTORY</h3>
    </div>	
    	enter tabs for team history 
    	<ion-list> -->
     		<!-- <ion-item ng-repeat="team in teamhome" href>
     			{{teamhome.title}}
     		</ion-item>-->
			<!-- <ion-item ng-repeat="playlist in playlists" href="#/app/playlists/{{playlist.id}}">
				{{playlist.title}}
			</ion-item>
    	</ion-list>
	    finish grab 

	<ion-view>
	</ion-view>
  </ion-content>
</ion-view>-->

<ion-view view-title="Teamhome">
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="playlist in teamhome" href="#/app/playlists/{{playlist.id}}">
        {{playlist.title}}
      </ion-item>

      <!-- <ion-list>
     		<ion-item ng-repeat="team in teamhome">
     			{{team.title}}
     		</ion-item>
    	</ion-list> -->
    </ion-list>
  </ion-content>
</ion-view>